p {
    padding-bottom: 20px;
    color: white;
}

a, th, i{
    cursor: pointer;
}

.exit,
.nameAdmin,
.addInf, 
.mineReviewsList {
   // margin-right: 5%;
    border-radius: 3%;
    padding: 5px;
    &:hover {
        background-color: rgba(101, 101, 103, 0.4);
    }
}

.exit{
    margin-top: -1px;
    margin-left: 20%;
}

.mineReviewsList, .nameAdmin{
    float: center;
}

#test1{
    padding-left: 0px;
}

.row {
    .listAdmin {
        width: 109.5%;
        margin-top: 20px;
        padding-bottom: 20px;
    }
    .mineReviews,
    .addInformationTable {
        background-color: white;
        width: 111.7%;
    }
    .mineSecondReviews {
        background-color: white;
        width: 110%;
        margin-top: 20px;
    }
    width: 60%;
    .reviewsTable {
        margin-left: 10px;
    }
    .scrollDivServices {
        overflow-y: scroll;
        height: 70px;
        width: 100px;
        margin-top: 15px;
    }
    .date {
        padding-right: 80px;
        margin: 0 !important;
    }
    .datepicker {
        margin-bottom: -5px !important;
    }
    .buttonAddInformationInnerTable{
        float: right;
        margin-bottom: 10px;
    }
    .tegPAddReviews{
        margin-left: 77%;
    }
    .priceInput, .inputServices, .describeInputText{
        z-index: 100 !important;
    }

}

.footer-item {
    height: 130px;
}