.map {
  margin-top: 70px;
  float: right; }

.contacts {
  margin-top: 40px;
  font-family: 'Playfair Display', serif;
  color: white; }
  .contacts p,
  .contacts h4 {
    font-family: 'Playfair Display', serif;
    color: white; }
